body {
    margin: 0 auto;
    padding: 2em;
    max-width: 960px;
    background-color: #1a1b30;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color:rgb(213, 219, 255);
}


h1.logo {
    text-align: center;
    color:rgb(237, 237, 255);
    font-size:60px;
    margin:0.5em;
}


h2 {
    font-size: 2.5em;
    margin-bottom: 0.3em;
    color: #a5afff;
}

h3 {
    font-size: 2em;
    margin-bottom: 0.3em;
    color: #8f87ff;
}


div {
    clear: left;
    padding-bottom: 1em;
}

ul {
    padding-left: 1.2em;
}

li {
    margin-bottom: 0.5em;
}


nav.topbar {
    border-radius: 12px;
    background-color: #626dff;
    padding: 1em
}

nav.topbar ul {
    display: flex;
    gap: 1em;
    justify-content: center;
    border-radius: 12px;
    padding: 0.5em 0;
    margin-bottom: 2em;
    list-style-type: none;
    overflow: hidden;
}

nav.topbar li {
    display:inline-block;
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
}

nav.topbar li a {
    display: block;
    text-decoration: none;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

nav li a:hover,
nav li a:focus {
    background-color: #9d4edd;
    color: white;
    outline: none;
}

div.content {
    width: 100%;
}

div.highlight {
    background-color: #fcd5ce;
    border: 2px solid #ff758f;
    border-radius: 10px;
    float: right;
    padding: 12px;
    margin: 12px;
    width: 300px;
}


nav.topbar li a {
    color:white;
    background-color:#464fd4;
    display: block;
    text-decoration: double;
    text-align: center;
    padding: 0.5em;
    font-size: 20px;
}

nav li a:hover {
    background-color: rgb(31, 44, 44);
}




nav.topbar li.search {
    float: right;
    padding: 10px 15px;
    color:white;
    font-size:10px;
}

nav.topbar li.search label {
    flex-direction: column;
    font-size:15px;

}