body {
    margin: 0 auto;
    padding: 2em;
    max-width: 960px;
    background-color: #1a1b30;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color:rgb(213, 219, 255);
}

a {
    text-decoration: none;
}

h2 {
    font-size: 2em;
    margin-bottom: 0.3em;
    color: #a5afff;
}

h3 {
    font-size: 1.5em;
    margin: 0.3em;
    color: #8f87ff;
}


p {
    font-size: 1em;
}

section.light {
    padding: 1em;
    background-color: #272949;
    border-radius: 12px;
}

h1.title {
    text-align: center;
    color:rgb(237, 237, 255);
    font-size:60px;
    margin:0.5em;
    margin-bottom:0em;
}

div.search label {
    display:none;
}

div.search {
    margin-bottom:0;
    margin-top:0;
    text-align:left;
}

div.search input {
    width: 25%;
    font-weight:bold;
    border-radius: 6px;
    border:none;
    padding: 0.5em;

    background-color:#464fd4;
    color: #d8ddff;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

    transition: width 0.4s ease-in-out;
}

div.search input::placeholder {
    padding: 0.5em;
    color: #aeb9ff;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div.search input:focus {
    width: 100%;
}

nav.topbar {
    border-radius: 12px;
    background-color: #626dff;
}

nav.topbar ul {
    display: flex;
    gap: 1em;
    justify-content: center;
    border-radius: 12px;
    padding:1em;
    list-style-type: none;
    overflow: hidden;
    margin:0px;
}

nav.topbar li {
    display:inline-block;
    text-align: center;
    margin:0px;
}
nav.topbar a {
    padding: 0.5em;
    border-radius: 12px;
    background-color:#464fd4;

    color:rgb(243, 245, 255);
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    margin:0px;
    transition: all 0.2s ease-in-out;
}

    
nav li a:hover,
nav li a:focus {
    background-color: #1a1b30;
}

div.content {
    width: 100%;
}

div.highlight {
    background-color: #fcd5ce;
    border: 2px solid #ff758f;
    border-radius: 10px;
    float: right;
    padding: 12px;
    margin: 12px;
    width: 300px;
}

span.blue {
    color: #626dff;
}