<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StreamSearch</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">  </script>  
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">  </script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
    <script>
        $( function() {
            var availableTags = [
                {% for movie in movies %}
                    "{{movie}}",
                {% endfor %}
            ];
            $( "#movies" ).autocomplete({
            source: availableTags
            });
        } );
    </script>
</head>

<body>
    <section id="heading">
        <a href="/">
            <h1 class="title">
                Stream<span class="blue">Search</span>
            </h1>
        </a>

        <div class="search">
            <p>
                <form action="search">
                    <strong><label for="movies">Search titles across platforms</label></strong>
                    <input type="text" id="movies" name="moviechoice" placeholder="Search titles across platforms...">
                </form>
            </p>
        </div>

        <nav class="topbar">
            <ul>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/filter">Advanced Filters</a>
                </li>
                <li>
                    <a href="/">Use Old Flask App</a>
                </li>
            </ul>
        </nav>
    </section>
    

    <h2>Welcome to StreamSearch!</h2>
    <p>StreamSearch helps you find movies and TV shows based on actor names, categories, and release years.</p>

    <section class="light">
        <h3>How to Use StreamSearch:</h3>
        <p>
            Use the search bar at the top of the site to search for movie details across streaming platforms.<br>
            Use the Advanced Filters option to sort the entire database based on actor, category, and release year.
        </p>
    </section>

</body>
</html>